
<div class="page-head">
    <!-- Inicio del titulo de la pagina -->
    <div class="page-title">
        <h1>Bienvenido {{ user.name }}
            <small>Este es el resumen hasta la fecha del mes</small>
        </h1>
    </div>
    <!-- Fin del titulo de la pagina -->
</div>
<!-- Fin del encabezado de la pagina-->

<!-- Inicio del contenido de la pagina -->
<div class="row">
  <app-goal-cards [data]='gcSales'></app-goal-cards>
  <app-goal-cards [data]='gcOperations'></app-goal-cards>
  <app-goal-cards [data]='gcNewBuildings'></app-goal-cards>
  <app-goal-cards [data]='gcNewProspects'></app-goal-cards>
</div>

<div class="row">

  <app-home-graphic></app-home-graphic>
  <app-home-graphic></app-home-graphic>


</div>
