<!-- Inicio del contenido de la pagina -->
<div class="row">
    <div class="col-md-12">
        <!-- Inicio del sidebar perfil -->
        <!-- Inicio del contenido del perfil -->
        <div class="profile-content">
            <div class="row">
              <div class="col-md-12">
                  <div class="portlet light bordered">
                      <div class="portlet-title">
                          <div class="caption font-dark">
                              <i class="icon-pointer font-dark"></i>
                              <span class="caption-subject bold uppercase">{{ title }}</span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <!-- BEGIN BASIC PORTLET-->
                              <div class="portlet light portlet-fit bordered">
                                  <div class="portlet-title">
                                      <div class="caption">
                                          <i class=" icon-compass font-red"></i>
                                          <span class="caption-subject font-red bold uppercase">Ubicación</span>
                                      </div>
                                  </div>
                                  <div class="portlet-body">
                                      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapReady)="mapReady($event)">
                                          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                      </agm-map>
                                  </div>
                              </div>
                              <!-- END BASIC PORTLET-->
                          </div>
                          <div class="col-md-12">
                              <!-- BEGIN MARKERS PORTLET-->
                              <div class="portlet light portlet-fit bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-pin font-green"></i>
                                        <span class="caption-subject font-green bold uppercase">Puntos de interés</span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="mt-element-list">
                                        <div class="mt-list-head list-simple font-white bg-green">
                                            <div class="list-head-title-container">
                                                <h3 class="list-title">Accesibles a la zona</h3>
                                            </div>
                                        </div>
                                        <div class="mt-list-container list-simple">
                                            <ul>
                                                <li class="mt-list-item" *ngFor="let place of places">
                                                    <div class="list-icon-container done">
                                                        <i class="icon-check"></i>
                                                    </div>
                                                    <div class="list-datetime"> < 2 KM </div>
                                                    <div class="list-item-content">
                                                        <h3 class="uppercase">
                                                            <a href="javascript:;">{{ place.name }}</a>
                                                        </h3>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <!-- END MARKERS PORTLET-->
                          </div>
                      </div>
                  </div>
                </div>
             </div>
         </div>
     </div>
</div>
