<!-- Inicio del contenido de la pagina -->
<div class="row">
    <div class="col-md-12">
        <!-- Inicio del sidebar perfil -->

        <!-- Inicio del contenido del perfil -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">{{ title }}</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Informacion de sucursal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- Informacion personal TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Nombre de la sucursal</label>
                                            <input type="text"  class="form-control" placeholder="Pacífico"/> </div>
                                        <div class="form-group">
                                            <label class="control-label">Gerente de la Sucursal</label>
                                            <input type="text" class="form-control" placeholder="Jonathan Oropeza Mendez" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Domicilio</label>
                                            <input type="text" class="form-control" placeholder="Av.De la mancha 322" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Colonia</label>
                                          <input type="text" class="form-control" placeholder="Moderna" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Código postal</label>
                                          <input type="text" class="form-control" placeholder="44371" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Municipio</label>
                                          <input type="text" class="form-control" placeholder="Guadalajara" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Estado</label>
                                          <input type="text" class="form-control" placeholder="Jalisco" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Pais</label>
                                          <input type="text" class="form-control" placeholder="México" /> </div>
                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green"> Guardar Cambios </a>
                                            <a [routerLink]="['/', 'sucursales']" class="btn default"> Cancelar </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin Informacion personal TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin del contenido del perfil -->
    </div>
</div>
<!-- Fin del contenido base de la pagina -->
