
<!-- Inicio del contenido de la pagina -->
<div class="row">
    <div class="col-md-12">
        <!-- Inicio del sidebar perfil -->
        <!-- Inicio del contenido del perfil -->
        <div class="profile-content">
            <div class="row">
              <div class="col-md-12">
                  <div class="portlet light bordered">
                      <div class="portlet-title">
                          <div class="caption font-dark">
                              <i class="icon-home font-dark"></i>
                              <span class="caption-subject bold uppercase">{{ title }}</span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="portlet-body">
                                  <carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex">
                                      <slide *ngFor="let slide of slides; let index=index">
                                          <img [src]="slide.image" class="img-responsive center-block">
                                      </slide>
                                  </carousel>
                              </div>
                          </div>
                      </div>
                      <div class="row" style="margin-top: 30px;">
                          <div class="col-md-4">
                              <div class="portlet-title">
                                  <div class="caption font-dark">
                                      <span class="caption-subject bold uppercase">Características</span>
                                  </div>
                              </div>
                              <div class="portlet-body">
                                  <div class="container-fluid building-characteristics">
                                      <div *ngIf="building.land_id != null">
                                        <div class="row" *ngFor="let key of building.land | keys">
                                            <div class="col-sm-6" style="font-weight:bold;font-size: 13px;" *ngIf="['id', 'location', 'location_id'].indexOf(key) == -1">
                                                <p [innerHTML]="keysEnum.land[key]"></p>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right; color: #5b9bd1;" *ngIf="['id', 'location', 'location_id'].indexOf(key) == -1 && key != 'price'">
                                                <p [innerHTML]="response(key, building.land[key])"></p>
                                            </div>

                                            <div class="col-sm-6" style="text-align: right;" *ngIf="['id', 'location', 'location_id'].indexOf(key) == -1 && key == 'price'">
                                                <span class="label label-sm label-primary" [innerHTML]="response(key, building.land[key])"></span>
                                            </div>
                                        </div>
                                      </div>
                                      <div *ngIf="building.warehouse_id != null">
                                        <div class="row" *ngFor="let key of building.warehouse | keys">
                                            <div class="col-sm-6" style="font-weight:bold;font-size: 13px;" *ngIf="['id', 'location', 'location_id'].indexOf(key) == -1">
                                                <p [innerHTML]="keysEnum.warehouse[key]"></p>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right; color: #5b9bd1;" *ngIf="['id', 'location', 'location_id'].indexOf(key) == -1">
                                                <p [innerHTML]="response(key, building.warehouse[key])"></p>
                                            </div>
                                        </div>
                                      </div>
                                      <div *ngIf="building.office_id != null">
                                        <div class="row" *ngFor="let key of building.office | keys">
                                            <div class="col-sm-6" style="font-weight:bold;font-size: 13px;" *ngIf="['id', 'location', 'location_id', 'yards', 'kind'].indexOf(key) == -1">
                                                <p [innerHTML]="keysEnum.office[key]"></p>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right; color: #5b9bd1;" *ngIf="['id', 'location', 'location_id', 'yards', 'kind'].indexOf(key) == -1">
                                                <p [innerHTML]="response(key, building.office[key])"></p>
                                            </div>
                                        </div>
                                      </div>
                                      <div *ngIf="building.house_id != null">
                                        <div class="row" *ngFor="let key of building.house | keys">
                                            <div class="col-sm-6" style="font-weight:bold;font-size: 13px;" *ngIf="['id', 'location', 'location_id', 'yards', 'kind'].indexOf(key) == -1">
                                                <p [innerHTML]="keysEnum.house[key]"></p>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right; color: #5b9bd1;" *ngIf="['id', 'location', 'location_id', 'yards', 'kind'].indexOf(key) == -1">
                                                <p [innerHTML]="response(key, building.house[key])"></p>
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-8">
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class="icon-speech font-blue-sharp"></i>
                                      <span class="caption-subject font-blue-sharp bold uppercase">Observaciones</span>
                                  </div>
                              </div>
                              <div class="portlet-body">
                                  <div class="row">
                                      <div class="col-md-12">
                                          <p> {{ building.extra_data }}</p>
                                      </div>
                                  </div>
                                  <div class="pull-right">
                                      <button class="btn btn-primary btn-lg" (click)="sendBuilding()">Enviar ficha técnica <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                  </div>
                              </div>
                          </div>
                          <hr>
                          <div class="col-md-6 building-sold" *ngIf="building.customer_id != null">
                              <p>Este inmueble fue vendido a: <span>{{ building.customer.full_name}}</span></p>
                              <p>Este inmueble fue vendido por: <span>{{ building.user.full_name}}</span></p>
                              <button class="btn btn-danger" (click)="removeSold(building.id)">Revocar venta <i class="fa fa-trash" aria-hidden="true"></i></button>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <!-- BEGIN BASIC PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <i class=" icon-compass font-red"></i>
                              <span class="caption-subject font-red bold uppercase">Ubicación</span>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" (mapReady)="mapReady($event)">
                              <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                          </agm-map>
                      </div>
                  </div>
                  <!-- END BASIC PORTLET-->
              </div>
              <div class="col-md-6">
                  <!-- BEGIN MARKERS PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-pin font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Puntos de interés</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="mt-element-list">
                            <div class="mt-list-head list-simple font-white bg-green">
                                <div class="list-head-title-container">
                                    <h3 class="list-title">Accesibles a la zona</h3>
                                </div>
                            </div>
                            <div class="mt-list-container list-simple scrollable">
                                <ul>
                                    <li class="mt-list-item" *ngFor="let place of places">
                                        <div class="list-icon-container done">
                                            <i class="icon-check"></i>
                                        </div>
                                        <div class="list-datetime"> < 5 KM </div>
                                        <div class="list-item-content">
                                            <h3 class="uppercase">
                                                <a href="javascript:;">{{ place.name }}</a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- END MARKERS PORTLET-->
              </div>
              <div id="sell-container" class="col-md-12" *ngIf="isSelling">
                  <!-- BEGIN MARKERS PORTLET-->
                  <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-basket-loaded font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Vender inmueble</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form #sell="ngForm" role="form" (ngSubmit)="onSubmit()" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Prospecto</label>
                                        <div class="col-md-9" *ngIf="items.customers.length > 0">
                                            <ng-select [allowClear]="true"
                                                [items]="items.customers"
                                                [active]="items.selected.customer"
                                                placeholder="Ningun propietario seleccionado"
                                                (selected)="setCustomer($event)"
                                                (removed)="removeCustomer($event)"
                                                class="{{ building.customer_id != null ? 'ng-valid' : 'ng-invalid' }}">
                                            </ng-select>
                                        </div>
                                    </div>

                                    <div *ngIf="prospect && prospect.id">
                                        <h3>Información del prospecto</h3>
                                        <table class="prospect-info">
                                            <tbody>
                                                <tr>
                                                    <td>Nombre completo</td>
                                                    <td>{{ prospect.full_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td>{{ prospect.email }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Género</td>
                                                    <td>{{ prospect.gender_full }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" *ngIf="building.user">
                                        <label class="col-md-3 control-label">Agente</label>
                                        <div class="col-md-9">
                                            <input type="text" [(ngModel)]="sale.user.full_name" name="user" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Cantidad acordada ($)</label>
                                        <div class="col-md-9">
                                            <input type="number" [(ngModel)]="sale.amount" class="form-control" name="amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Observaciones</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" [(ngModel)]="sale.extra_data" name="extra_data"></textarea>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button class="btn btn-primary btn-lg" type="submit">Concretar venta <i class="fa fa-check" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <!-- Fin del contenido del perfil -->
    </div>
</div>
<!-- Fin del contenido base de la pagina -->
