<!-- Inicio del contenido de la pagina -->
<div class="row">
    <div class="col-md-12">
        <!-- Inicio del sidebar perfil -->
        <!-- Inicio del contenido del perfil -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">{{ title }}</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Informacion del Inmueble</a>
                                </li>
                                <li *ngIf="building.created_at != null">
                                    <a href="#tab_1_2" data-toggle="tab">Agregar imagenes del inmueble</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- Informacion personal TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" #buildingForm="ngForm" (ngSubmit)="onSubmit()" (keydown)="keyDownFunction($event)" class="form-horizontal form-groups-bordered">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tipo de inmueble</label>
                                            <div class="col-md-9">
                                                <select class="form-control"  [(ngModel)]="building.type" name="type" required>
                                                    <option value="Casas">Casas</option>
                                                    <option value="Departamentos">Departamentos</option>
                                                    <option value="Oficinas">Oficinas</option>
                                                    <option value="Terrenos">Terrenos</option>
                                                    <option value="Edificios">Edificios</option>
                                                    <option value="Parques industriales">Parques industriales</option>
                                                    <option value="Plantas industriales">Plantas industriales</option>
                                                    <option value="Hoteles">Hoteles</option>
                                                    <option value="Ranchos">Ranchos</option>
                                                    <option value="Haciendas y quintas/Granjas">Haciendas y quintas/Granjas</option>
                                                    <option value="Predio rustico">Predio rustico</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Propietario</label>
                                            <div class="col-md-9" *ngIf="items.customers.length > 0">
                                                <ng-select [allowClear]="true"
                                                    [items]="items.customers"
                                                    [active]="items.selected.customer"
                                                    placeholder="Ningun propietario seleccionado"
                                                    (selected)="setCustomer($event)"
                                                    (removed)="removeCustomer($event)"
                                                    class="{{ building.customer_id != null ? 'ng-valid' : 'ng-invalid' }}">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Agente</label>
                                            <div class="col-md-9" *ngIf="items.users.length > 0">
                                                <ng-select [allowClear]="true"
                                                    [items]="items.users"
                                                    [active]="items.selected.user"
                                                    placeholder="Ningun propietario seleccionado"
                                                    (selected)="setUser($event)"
                                                    (removed)="removeUser($event)"
                                                    class="{{ building.user_id != null ? 'ng-valid' : 'ng-invalid' }}"
                                                    [disabled]="selectorDisabled">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Disposición</label>
                                            <div class="col-md-9">
                                                <select class="form-control" [(ngModel)]="building.land.for_sale" name="for_sale" required>
                                                    <option value="0">Renta</option>
                                                    <option value="1">Venta</option>
                                                </select>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Precio</label>
                                            <div class="col-md-9">
                                                <input [(ngModel)]="building.land.price" type="number"  min="0" step=".01" class="form-control" name="price"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Superficie en m<sup>2</sup></label>
                                            <div class="col-md-9">
                                                <input [(ngModel)]="building.land.surface" type="number"  min="0" step=".01" class="form-control" name="surface"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Costo del predial</label>
                                            <div class="col-md-9">
                                                <input [(ngModel)]="building.land.predial_cost" type="number"  min="0" step=".01" class="form-control" name="predial_cost"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Dirección</label>
                                            <div class="col-md-9">
                                                <input [(ngModel)]="building.address" name="address" placeholder="Busca una dirección" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search onkeydown="if" >
                                            </div>
                                        </div>
                                        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                        </agm-map>
                                        <div> <!--   Warehouse container -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">¿Es nueva?</label>
                                                <div class="col-md-9">
                                                    <div class="checkbox">
                                                        <input type="checkbox" (change)="building.warehouse.is_new = !building.warehouse.is_new" [checked]="building.warehouse.is_new">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Superficie de la construcción en m<sup>2</sup></label>
                                                <div class="col-md-9">
                                                    <input [(ngModel)]="building.warehouse.build_surface" type="number"  min="0" step=".01" class="form-control" name="build_surface"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Fecha de construcción</label>
                                                <div class="col-md-9">
                                                    <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required locale="es" (dateChanged)="onDateChanged($event)"></my-date-picker>
                                                </div>
                                            </div>
                                        </div>
                                        <div> <!--   Warehouse container -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Baños</label>
                                                <div class="col-md-9">
                                                    <input [(ngModel)]="building.office.baths" type="number"  min="0" step="1" class="form-control" name="baths" required/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Estacionamientos</label>
                                                <div class="col-md-9">
                                                    <input [(ngModel)]="building.office.parkings" type="number"  min="0" step="1" class="form-control" name="parkings" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div> <!--   Warehouse container -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Habitaciones</label>
                                                <div class="col-md-9">
                                                    <input [(ngModel)]="building.house.rooms" type="number"  min="0" step="1" class="form-control" name="rooms" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Información adicional</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" name="extra_data" rows="8" cols="80" [(ngModel)]="building.extra_data"></textarea>
                                            </div>
                                        </div>
                                        <div class="margiv-top-10 to-right" style="margin-top: 10px;">
                                            <a [routerLink]="['/', 'inmuebles']" class="btn default"> Cancelar </a>
                                            <button type="submit" class="btn green"> Guardar Cambios </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin Informacion personal TAB -->
                                <!-- Cambio Imagen TAB -->
                                <div class="tab-pane" id="tab_1_2" *ngIf="building.created_at != null">
                                    <image-upload
                                        [headers]="[
                                        {header: 'Authorization', value: token}
                                        ]"
                                        [buttonCaption]="'Selecciona una imagen'"
                                        [dropBoxMessage]="'¡Suelta aquí tus imágenes!'"
                                        [url]="url + 'building/upload/' + building.id"
                                        (onFileUploadFinish)="getBuilding()"
                                    >
                                    </image-upload>
                                    <div class="gallery-container">
                                        <div class="col-lg-3 col-md-4 col-xs-12 col-sm-12" *ngFor="let image of building.images">
                                            <img src="{{ url + 'images/bld/thumb_' + image.path}}" class="img-thumbnail" width="304" height="236">
                                            <button class="btn btn-danger thumbnail-button" type="button" (click)="removeImage(image.id)">Remover imagen</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin del contenido del perfil -->
    </div>
</div>
<!-- Fin del contenido base de la pagina -->
