
<div class="page-head">
    <!-- Inicio del titulo de la pagina -->

    <!--Fin del titulo de la pagina -->
</div>
<!-- Fin del encabezado de la pagina-->
<!-- Inicio del contenido de la pagina -->
<div class="row">
    <div class="col-md-12">
        <!-- Inicio del sidebar perfil -->
        <div class="profile-sidebar">
            <div class="portlet light profile-sidebar-portlet bordered">
                <!-- Sidebar user profile-->
                <div class="profile-userpic">
                    <img src="assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
                <!-- Fin Sidebar user profile -->
                <!-- Sidebar user Nombre -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> Jonathan Oropeza Mendez </div>
                    <div class="profile-usertitle-job"> Agente Inmobiliario </div>
                </div>
                <!-- Fin Sidebar user Nombre -->
            </div>
            <div class="portlet light bordered">
                <!-- Stats -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> $160k </div>
                        <div class="uppercase profile-stat-text"> Ventas </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 1 </div>
                        <div class="uppercase profile-stat-text"> Operacion </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 10 </div>
                        <div class="uppercase profile-stat-text"> Prospectos </div>
                    </div>
                </div>
                <!-- Fin Stats -->
                <div>
                    <h4 class="profile-desc-title">Datos mensuales</h4>
                    <span class="profile-desc-text"> Resumen estadistico. </span>
                </div>
            </div>
        </div>
        <!-- Inicio del contenido del perfil -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Perfil de Agente</span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_1_1" data-toggle="tab">Informacion personal</a>
                                </li>
                                <li>
                                    <a href="#tab_1_2" data-toggle="tab">Cambiar Imagen de perfil</a>
                                </li>
                                <li>
                                    <a href="#tab_1_3" data-toggle="tab">Cambiar contraseña</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- Informacion personal TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Nombres</label>
                                            <input type="text" placeholder="Jonathan" class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Apellidos</label>
                                            <input type="text" placeholder="Oropeza Mendez" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="col-md-3 control-label">Sucursal</label>
                                            <div class="col-md-9">
                                                        <select class="form-control">
                                                    <option>Pacífico</option>
                                                    <option>Bajío</option>
                                                            <option>Centro</option>
                                                    <option>Norte</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Teléfono Móvil</label>
                                            <input type="text" placeholder="+1 646 580 PRUEBA (6284)" class="form-control" /> </div>
                                        <div class="form-group">
                                                <label class="control-label">Teléfono Fijo</label>
                                                <input type="text" placeholder="+1 646 580 PRUEBA (6284)" class="form-control" /> </div>
                                        <div class="form-group">
                                                    <label class="col-md-3 control-label">Sexo</label>
                                                    <div class="col-md-9">
                                                        <select class="form-control">
                                                            <option>Maculino</option>
                                                            <option>Femenino</option>
                                                        </select>
                                                    </div>
                                                </div>
                                        <div class="form-group">
                                                            <label class="col-md-3 control-label">Estado civil</label>
                                                            <div class="col-md-9">
                                                                <select class="form-control">
                                                                    <option>Soltero</option>
                                                                    <option>Casado</option>
                                                                    <option>Divorciado</option>
                                                                    <option>Viudo</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Domicilio</label>
                                            <input type="text" placeholder="Av.De la mancha 212" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Colonia</label>
                                          <input type="text" placeholder="Independencia" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Código postal</label>
                                          <input type="text" placeholder="44731" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Municipio</label>
                                          <input type="text" placeholder="Guadalajara" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Estado</label>
                                          <input type="text" placeholder="Jalisco" class="form-control" /> </div>
                                        <div class="form-group">
                                          <label class="control-label">Pais</label>
                                          <input type="text" placeholder="México" class="form-control" /> </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile" class="col-md-3 control-label">Curriculúm</label>
                                            <div class="col-md-9">
                                                <input type="file" id="exampleInputFile">
                                                <p class="help-block"> Formato PDF  </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile" class="col-md-3 control-label">Identificacion Oficial</label>
                                            <div class="col-md-9">
                                                <input type="file" id="exampleInputFile">
                                                <p class="help-block"> Formato PDF o imagen admitidos </p>
                                            </div>
                                        </div>
                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn green"> Guardar Cambios </a>
                                            <a href="agents" class="btn default"> Cancelar </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin Informacion personal TAB -->
                                <!-- Cambio Imagen TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <form action="#" role="form">
                                        <div class="form-group">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                <div>
                                                    <span class="btn default btn-file">
                                                        <span class="fileinput-new"> Seleccionar Imagen </span>
                                                        <span class="fileinput-exists"> Cambiar </span>
                                                        <input type="file" name="..."> </span>
                                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Quitar </a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn green"> Enviar </a>
                                            <a href="agents" class="btn default"> Cancelar </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin Cambio Imagen TAB -->
                                <!-- Cambio de Contra TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form action="#">
                                        <div class="form-group">
                                            <label class="control-label">Nueva Contraseña</label>
                                            <input type="password" class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Reescribe la nueva Contraseña</label>
                                            <input type="password" class="form-control" /> </div>
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn green"> Cambiar Contraseña</a>
                                            <a href="agents" class="btn default"> Cancelar </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin Cambio de Contra TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin del contenido del perfil -->
    </div>
</div>
<!-- Fin del contenido base de la pagina -->
