<!-- Inicio del Sidebar-->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- Inicio del menu sidebar -->
        <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <!--  -->
            <li class="nav-item start" *ngFor="let option of options" routerLinkActive="open active">
                <a [routerLink]="['/', option.url]" class="nav-link" >
                    <i class="{{ option.icon }}"></i>
                    <span class="title">{{ option.title }}</span>
                </a>
            </li>
        </ul>
        <!-- Fin del menu sidebar -->
    </div>
</div>
<!-- Fin del Sidebar -->
