/* You can add global styles to this file, and also import other style files */
@import url(./assets/global/css/components.min.css);
.ng-invalid:not(form).ng-touched { border: 2px solid #c10606; }

.ng-invalid:not(form).ng-dirty { border: 2px solid #c10606; }

.form-horizontal .form-group {
     margin-right: inherit !important;
     margin-left: inherit !important;
}

.gallery-container {
    padding: 15px;
    overflow: auto;
}

.thumbnail-button {
    width: 100%;
    margin-top: 10px;
}

.building-characteristics p {
    margin: 5px 0px;
}

.irs-line-left {
  background: #e1e4e9 !important;
  width: 100%;
}

.budget-page .irs-line-right {
  background: #FF0000;
  width: 40%;
}

.irs-slider.to, .irs-slider.from,
.irs-from, .irs-to, .irs-single {
    background: #3b3f51;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    border-top-color: #3b3f51;
}

.budget-page .irs-line-mid {
  width: 0 !important;
}

.irs-bar {
  /*background: #FFBF00;*/
  background: #5c9acf;
}
