/* You can add global styles to this file, and also import other style files */

@import "./assets/global/css/components.min.css";

.ng-invalid:not(form) {
    &.ng-touched {
        border: 2px solid #c10606;
    }
    &.ng-dirty {
        border: 2px solid #c10606;
    }
    border: 2px solid #c10606;
}
