<div class="col-lg-6 col-xs-12 col-sm-12">
  <div class="portlet light bordered">
      <div class="portlet-title">
          <div class="caption">
              <span class="caption-subject bold uppercase font-dark">{{title}}</span>
          </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
            <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
          <div class="col-md-12" style="margin-bottom: 10px">
            <table class="table table-responsive table-condensed">
              <tr>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
              </tr>
              <tr *ngFor="let d of lineChartData">
                <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
              </tr>
            </table>
            <button class="btn btn-primary btn-block" (click)="randomize()">CLICK</button>
          </div>
        </div>
      </div>
  </div>
</div>
